@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

/* Importerer font fra googleapis */

/* Index */

body {
  margin: 20px;
  font-family: 'Poppins';
  background: #d1dedd;
}



/* styler linkene  inne i headeren*/
nav {
  display: flex;
  /* Vertikal og horisontal padding */
  padding: 2% 6%;
  justify-content: space-between;
}



/* Linkene til de andre sidene */
.nav-links {
  flex: 1;
  text-align: right;
  font-family: 'Poppins';
}

/* Linkene er lagt i en uordnet liste som listeelementer */
.nav-links ul li {
  /* Sørger for at linkene ikke blir bullet points */ 
  list-style: none;
  /* Legger listeelementene etter hverandre i horisontal linje */
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

/* Hvordan linkene ser ut når man ikke har musepekeren over dem */
.nav-links ul li a{
  color: #0a3737;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Poppins';
}

/* Hvordan linkene med en linje under når man holder musepekeren over dem */
.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #131414;
  display: block;
  margin: auto;
  /* Tiden det tar for linjen under linkene til å fylle lengden av hver link */
  transition: .5s;
}

/* Linjen fyller hele lengden av linkene */
.nav-links ul li:hover::after {
  width: 100%;
}

/* Viser ikke liste elementene*/
ul, li{
  padding: 0;
  list-style-type: none;
}




#linker {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #0474bc;
}

/* =======================
******* Mobile Menu ******
========================*/
.mobile-menu {
  display: block;
  list-style-type: none;
  background-color: #fff;
  float: right;
  width: 150px;
  padding: 5px 0 50px 0;
  border: 1px solid #eee;
  z-index: 55;
}

.mobile-links li {
  line-height: 2.8rem;
}

.mobile-btn {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  cursor: pointer;
}

.nav-list {
  font-family: 'Poppins';
  list-style-type: none;
}

.nav-list:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* Ligger til farge på overskrifter og tekst*/
h1,h2,h3 {
  color:#767f7e ;
}
p {
  color: #767f7e;
}



/* Dette styler bredde og margin til kantene i griden*/
header {
  max-width: 1200 px;
  margin: 40 px auto;
  border-bottom: 1 px solid #bbc7c7;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  max-width: 1200 px;
  margin: 20px auto;
}

/* Her styles alle artiklene*/
article.featured {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  border-bottom: 1px solid #bbc7c7;
  padding-bottom: 40px;
}

/* Justerer slik at bildene fyller bredden av kollonen det er satt i 
*/

article img .grid-container, article.featured img {
  width: 100%;
  border: 4px solid #fff;
  border-radius: 8px;
  object-fit: cover;
  aspect-ratio: 16/9;
}




article p, article h3 {
  margin: 20px 10px;
}

/* Hvordan linkene ser ut når man holder musepekeren over linken */
.original-image:hover {
  font-weight: bolder;
  cursor: pointer;
  /* For å unngå default innstilling for linker, må den styles slik */
  color: rgb(89, 88, 89);
  text-decoration: none;
}

/* Hvordan linken ser ut når man klikker på den/når linken er 'besøkt' */
.original-image:active,
.original-image:visited {
  color: rgb(89, 88, 89);
  text-decoration: none;
}

/* responsive- for mobil */
@media screen and (max-width: 980px){
  article {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  }
}
/* responsive for skjermer under 980px */
@media screen and (max-width: 760px) {
  article, article.featured {
    display: block;
    margin: 0 20px;
  }
}


/* accessibility */

body {
  margin: 20px;
  font-family: 'Poppins';
  background: #d1dedd;
}

ul, li{
  padding: 0;
  list-style-type: none;
}

h1,h2,h3 {
  color: #767f7e;
}
p {
  color: #222;
}

header {
  max-width: 1200px;
  margin: 40px auto;
  border-bottom: 1px solid #bbc7c7;
}

.grid-container-access {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  max-width: 1200px;
  margin: 20px auto;
}

article.featured-access {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  border-bottom: 1px solid #bbc7c7;
  padding-bottom: 40px;
}

article img, article.featured-access img {
  width: 100%;
  border: 4px solid #fff;
  border-radius: 8px;
}




article p, article h3 {
  margin: 20px 10px;
}

/* responsive */
@media screen and (max-width: 980px){
  article {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  }
}

@media screen and (max-width: 760px) {
  article, article.featured-access {
    display: block;
    margin: 0 20px;
  }
}

/* fake news */

body {
  margin: 20px;
  font-family: 'Poppins';
  background: #d1dedd;
}

ul, li{
  padding: 0;
  list-style-type: none;
}

h1,h2,h3 {
  color: #222;
}
p {
  color: #222;
}

header {
  max-width: 1200px;
  margin: 40px auto;
  border-bottom: 1px solid #bbc7c7;
}

.grid-container-fake  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  max-width: 1200px;
  margin: 20px auto;
}

article.featured-fake {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  border-bottom: 1px solid #bbc7c7;
  padding-bottom: 40px;
}

article img, article.featured-fake img  {
  width: 100%;
  border: 4px solid #fff;
  border-radius: 8px;
}


article p, article h3 {
  margin: 20px 10px;
}

/* responsive */
@media screen and (max-width: 980px){
  article {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  }
}

@media screen and (max-width: 760px) {
  article, article.featured-fake {
    display: block;
    margin: 0 20px;
  }
}

/* p-35 */

body {
  margin: 20px;
  font-family: 'Poppins';
  background: #d1dedd;
}

ul, li{
  padding: 0;
  list-style-type: none;
}

h1,h2,h3 {
  color: #222;
}
p {
  color: #222;
}

header {
  max-width: 1200px;
  margin: 40px auto;
  border-bottom: 1px solid #bbc7c7;
}

.grid-container-p35 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  max-width: 1200px;
  margin: 20px auto;
}

article.featured-p35 {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  border-bottom: 1px solid #bbc7c7;
  padding-bottom: 40px;
}

article img, article.featured-p35 img {
  width: 100%;
  border: 4px solid #fff;
  border-radius: 8px;
}


article p, article h3 {
  margin: 20px 10px;
}

/* responsive */
@media screen and (max-width: 980px){
  article {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  }
}

@media screen and (max-width: 760px) {
  article, article.featured-p35 {
    display: block;
    margin: 0 20px;
  }
}


.footer{
  text-align: center;
  /*Vi ønsket å ha teksten i midten av footeren*/
  padding: 8px;
  /* Fargen er kopiert fra OsloMet.no */ 
  background-image: linear-gradient(-90deg,  rgb(141, 222, 230));
  color: black;
  margin-top: 30px
}



/* Styler forklaringen av formålet med siden */
.eksamen{
  font-size: xx-small;
  font-weight: lighter;
}



